
 <div id="body">
     <div class= "container">

         <div>
            {{#each articles}}
                <div class="card col-5 m-2 float-lg-left">
                    <img class="card-img-top" src="{{image}}" alt="Card image cap" style="width: 200; height: 200;">
                    <div class="card-body">
                        <h5 class="card-title" style="color:black">{{title}}</h5>
                        <p class="card-text">{{summary}}</p>
                        <a href="{{link}}" class="btn btn-danger m-1">View Article</a> <a href="/articles/{{_id}}" class="btn btn-danger m-1">Comments</a>
                    </div>
                </div>
            {{/each}}
        </div> 
    </div>
</div>


